[submodule "Wang/nn_chemistry/detonationFoam"]
	path = Wang/nn_chemistry/detonationFoam
	url = https://github.com/JieSun-pku/detonationFoam
[submodule "Wang/nn_chemistry/CodeJeNN"]
	path = Wang/nn_chemistry/CodeJeNN
	url = git@github.com:kingjarred/CodeJeNN.git
