[submodule "Wang/nn_chemistry/detonationFoam"]
	path = Wang/nn_chemistry/detonationFoam
	url = https://github.com/JieSun-pku/detonationFoam
[submodule "Wang/nn_chemistry/CodeJeNN"]
	path = Wang/nn_chemistry/CodeJeNN
	url = git@github.com:kingjarred/CodeJeNN.git
[submodule "Wang/nn_chemistry/OpenFOAM-6"]
	path = Wang/nn_chemistry/OpenFOAM-6
	url = https://github.com/OpenFOAM/OpenFOAM-6.git
[submodule "Wang/nn_chemistry/ThirdParty-6"]
	path = Wang/nn_chemistry/ThirdParty-6
	url = https://github.com/OpenFOAM/ThirdParty-6.git
